<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;个性化改造开发说明</h3>
        <ul>
            <li>采用Spring、MyBatis、Shiro框架，开发的一套RDP服务管理系统。</li>
        </ul>
    </div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;报表浏览器说明</h3>
        <ul>
            <li style="color:brown;">报表工具设计器功能需要使用谷歌浏览器（Chrome）进行设计开发————————仅限开发人员使用，所以指定谷歌浏览器</li>
            <li style="color:brown;">报表展示支持IE9+、谷歌、火狐等主流浏览器————————业务人员使用不受浏览器限制</li>
        </ul>
    </div>
</div>
</body>
</html>